@import "tailwindcss";

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #19092e;
}

@theme {
  --color-black-purple: #19092e;
  --color-purple: #5e1dad;
  --color-blueLight: #42a0ed;
  --color-blue: #267cc1;

  --font-geo: "var(--font-kanita)";
  --font-dos: "var(--font-dosis)";
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  width: 1px;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background-color: #ffffff;
}
.react-multiple-carousel__arrow {
  z-index: 28 !important;
}
